<div class="container-fluid" *ngIf="patients != null">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Super Health Patients</h1>
    </div>
  </div>
  <div class="col-xs-12 text-center">
    <button type="button" class="btn btn-primary" routerLink="/add-patient">
      Create Patient
    </button>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-group">
        <label for="searchSelect">Search By</label>
        <select
          name="searchSelect"
          [(ngModel)]="searchSelect"
          class="form-control"
        >
          <option *ngFor="let propName of propNames" [value]="propName.key">{{
            propName.visual
          }}</option>
        </select>
      </div>
      <p>Here: {{ searchSelect }}</p>
      <div class="form-group">
        <label for="search">Search</label>
        <input class="form-control" type="text" [(ngModel)]="filter" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let patient of (patients | patientSearch: filter:searchSelect)
            "
            style="cursor: pointer;"
            (click)="onRowClick(patient.patientId)"
          >
            <td>{{ patient.patientId }}</td>
            <td>{{ patient.firstName }}</td>
            <td>{{ patient.lastName }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.height }}</td>
            <td>{{ patient.weight }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
