<div class="container-fluid" *ngIf="user != undefined">
  <div *ngIf="error != null" class="row">
    <h3>{{ error }}</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>User: {{ user.userName }}</h1>
      <h5>Title: {{ user.title }}</h5>
      <h5>Roles: {{ user.roles }}</h5>
      <h5>Email: {{ user.email }}</h5>
      <div *ngIf="editingSelf">
        <button
          class="btn btn-warning"
          (click)="viewPassword = !viewPassword"
          type="button"
        >
          View Password
        </button>
        <h5 *ngIf="viewPassword">Password: {{ user.password }}</h5>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3">
      <button class="btn btn-primary" type="button" [routerLink]="['edit']">
        Edit
      </button>
      <button
        *ngIf="!editingSelf"
        class="btn btn-danger"
        type="button"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </div>
  <hr />
</div>
